bot/commands/chatbot_files
bot/__pycache__
bot/commands/__pycache__
bot/tests/__pycache__
bot/tests/.pytest_cache
distest.txt
documentation
DiscBot.egg-info
dist
build
bot\tests\__pycache__
bot\__pycache__
config\__pycache__
bot\commands\__pycache__
.idea
.pytest_cache
.vscode
distest.txt
config\__pycache__